@charset "UTF-08";

body {
    height: 100vh;
    margin: 0;
    background:black url(espaco.jpg) no-repeat center center fixed;
    background-size: cover;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main img {
    max-width: 300px;
    width: 100%;
}